PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

MONGO_URI=mongodb://localhost:27017/bookland

JWT_SECRET=koi_bhi_lambi_random_string_yahan_12345
JWT_EXPIRES_IN=7d

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=your-gmail@gmail.com
EMAIL_PASS=your-16-digit-gmail-app-password
EMAIL_FROM="Book Land <your-gmail@gmail.com>"
